* {  
    margin: 0;  padding: 0;  box-sizing: border-box;
    cursor:pointer;
}

/* Header*/

.header{
    background-color: rgb(230, 212, 248);
    position: sticky;
    top:0;
    width: 100%;
    z-index: 1000;
}
.navbar-container{
    padding: 10px 20vw;
    display: flex;
    justify-content: space-between;
}
.storeName{
    font-family: 'Yusei Magic', serif ;
    font-size:2vw;
    justify-content: space-between;

}
.navbar{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:2vw;
    font-size: 1.2vw;
}
.navbar .active{
    font-weight: bold;
}
.menuToggle{
    display: none;
}

.menu{
    display: inline-flex;
    list-style: none;
    font-family: 'Urbanist', 'Comfortaa', sans-serif;
    font-size: 1.2vw;
    gap:3vw;
}
.menu li:hover{
    font-weight: bold;
}
.navLinks{
    display: flex;
    gap:1vw;
}
.navLinks a:hover{
    transform: scale(1.2);
}

/* Carrito de compras */

.shoppingCarContainer{
    display: none;
    flex-direction:column;
    position: fixed;
    background-color: white;
    margin: 15px 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(20vw - 10px);
}
.shoppingCarContainer.active{
    display:flex;
}

.shoppingPill{
    font-size: 1vw;
    font-family: 'Urbanist', sans-serif;
    line-height: 1.5;
    text-align: center;
    font-weight: bold;
    padding: 1vw;
}
.selectedProduct{
    display: flex;
    align-items: center;
    margin: 5px 0;
    justify-content: space-between;
}
.btns{
    display: flex;
    align-items: center;
}
.btnRemoveProduct, .btnAddProduct{
    background-color: rgb(230, 212, 248);
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    font-family: 'Urbanist', sans-serif;
    width: 2vw;
    font-size: 1vw;
}
.btnRemoveProduct:hover, .btnAddProduct:hover{
    background-color: rgb(213, 182, 245);
    font-weight: bold;
}
.quantity{
    width: 25px;
}
.btnShoppingCar{
    margin: 5px 0;
}
.btnShoppingCar:hover{
    background-color: rgb(213, 182, 245);
    font-weight: bold;
}
.btnNone{
    display: none;
}
.messageOrder{
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    line-height: 1.5;
    background-color: white;
    width: 25%;
    height: 20%;
    border: solid 1px rgb(241, 239, 243);
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    left:33%;
    top:33%;
    z-index: 1000;
}

.btnCloseMessageOrder{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(230, 212, 248);
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Urbanist', sans-serif;
    font-size: 1vw;
    width: 30px;
}
.messageThanks{
    font-size: 1.2vw;
    font-family: 'Urbanist', sans-serif;
    text-align: center;
    align-content: center;
    height: 100%;
}
.messageOrder.active{
    display:block;
}

@media (max-width:1200px){
    .navbar-container{
        padding: 1vw 2vw;
        align-items: center;
        height: 70px;
    }
    .storeName{
        font-size:4vw; ;
    }
    .menu{
        display: none;
        flex-direction:column;
        position: fixed;
        width: 33%;
        top: 70px;
        left: 5px;
        background-color: white;
        margin: 10px;
        border-radius: 20px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        font-size: 2vw;
        text-align: center;
        gap:0;
        z-index: 1000;
    }
    .menu.active{
        display:flex;
    }
    .menu li{
        padding: 10px;  
        margin: 5px 10px;
        /* background-color: rgb(244, 244, 244);  
        border-radius:5px; */
    }
    
    .menuToggle{
        display: inline;
        padding: 1vw;
        font-size: 3vw;
    }
    .navbar{
        width: 50%;
        display: flex;
        justify-content: end;
        gap:2vw;
        font-size: 3vw;
    }

    .menuToggle.active {
        outline:solid black 2px;
        border-radius: 10%;
    }
    .shoppingCarContainer{
        position: relative;
        width: 100%;
        margin: 0;
        border-radius: 0;
        padding: 0 5vw;
    }
    .shoppingPill, .shoppingPill .btnShoppingCar{
        font-size: 1.8vw;
    }
    .shoppingPill .btnShoppingCar{
        margin: 5px 100px;
        width: 35%;
    }
   
    .btnRemoveProduct, .btnAddProduct{
        width: 5vw;
        height: 5vw;
        font-size: 2vw;
        padding: 0;
    }
    .quantity{
        font-size: 2vw;
        width:5vw;
    }
    
    .messageOrder{
        padding: 10px;
        width: 50%;
        height: 15%;
        left:25%;
        top:42,5%;
        z-index: 1000;
    }

    .btnCloseMessageOrder{
        font-size: 2vw;
        width: 50px;
        height: 50px;
    }
    .messageThanks{
        font-size: 2vw;
        height: 100%;
    }
}
@media (max-width:768px){
    .navbar-container{
        height: 50px;
    }
    .storeName{
        font-size: 5vw;
    }
    .menuToggle, .navbar{
        font-size: 4vw;
    }

    .menu{
        width: 40%;
        font-size: 2.5vw;
    }
   
    .shoppingPill, .shoppingPill .btnShoppingCar, .quantity, .messageThanks{
        font-size: 2.5vw;
    }
    .messageOrder{
        padding: 10px;
        width: 80%;
        height: 10%;
        left:10%;
        top:20%;
        z-index: 1000;
    }
    .messageThanks{
        font-size: 3vw;
    }
}
@media (max-width:576px){
    .shoppingPill, .shoppingPill .btnShoppingCar{
        font-size: 4vw;
    }
    .shoppingPill .btnShoppingCar{
        width: 50%;
    }
    .menu{
        font-size: 4vw;
    }
    .messageThanks{
        font-size: 3.5vw;
    }
    .btnCloseMessageOrder{
        width: 30px;
        height: 30px;
    }
}

/* Main */

main{
    padding: 0.5vw 20vw;
    min-height: 100vh;
    background-color: rgb(241, 239, 243);
}

.productsContainer{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-family:'Figtree', 'Comfortaa', sans-serif;
    font-size: 1vw;
    justify-content: center;
}
.product-pill{
    flex-basis: 33% ;
    padding:10px;
}

.product{
    overflow: hidden;
    padding: 10px;
    background-color: rgb(250, 255, 255);
    border-radius:5px;
    font-size: 1vw;
}
.product:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.productsContainer .product .containerImg{
    overflow: hidden;
}
.product .imgProduct{
    width: 100%;
    height: auto;
}
.product .nameProduct{
    font-weight: bold;
    padding: 5px;
}
.product .description{
    padding: 10px 20px;
}
.product .imgProduct:hover{ 
    transform: scale(1.5);
}
.productsContainer .price{
    font-weight: bold;
    padding: 5px;
}
.btnProduct, .btnShoppingCar{
    background-color: rgb(230, 212, 248);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Urbanist', sans-serif;
    width: 100%;
    font-size: 1vw;
}
.btnProduct:active{
    background-color: rgb(213, 182, 245);
    font-weight: bold;
}

@media(max-width: 1200px){
    main{
        padding: 1vw;
    }
    .product-pill{
        flex-basis: 33%;
        padding: 1vw;
    }
    .product, .product .btnProduct{
        font-size: 1.5vw;
    }
    .product .description{
        padding: 10px;
    }  
}

@media(max-width: 798px){
    main{
        padding: 1vw;
    }
    .product-pill{
        flex-basis: 50%;
        padding: 1vw;
    }
    .product, .product .btnProduct{
        font-size: 2vw;
    }
    .product .description{
        padding: 1vw 4vw;
        font-size: 2vw;
    } 
}

@media(max-width: 576px){
    main{
        padding: 1vw;
    }
    
    .product-pill{
        flex-basis: 100%;
        padding: 2vw;
    }
    .product, .product .btnProduct, .quantity{
        font-size: 4vw;
    }
    .product .description{
        padding: 0;
        font-size: 4vw;
    }

}

.footer{
    display: flex;
    background-color: rgb(230, 212, 248);
    padding: 10px 200px;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Urbanist','Comfortaa', sans-serif;
    font-size: 1.2vw;
    gap:1vw;
}


.footer a{
    text-decoration: none;
    color:black;
}

.footer a:hover{
    font-weight: bold;
    
}
@media(max-width:1200px){
    .footer{
        font-size: 1.8vw;
        height: 60px;
        padding: 0;
    }
    .footer a{
        display: inline-flex;
    }
}

@media(max-width:768px){
    .footer {
        font-size: 3vw;
    }
}
@media(max-width:576px){
    .footer {
        font-size: 4vw;
    }
}

button{
    color:black;
}

/* Carrito de compras */
